* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* inter font setup */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
    width: 90%;
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    list-style: none;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #30b869;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

 .btn:hover {
      background-color: #00ff00; 
      color: black;
    }