* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* inter font setup */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* universal style */
.flex{
    display: flex;
    justify-content: space-between;
}
.colour-green{
    color: #30B868;
}
.colour-white{
    color: #FFFFFF;
}
/* navbar styles */
.header{
    max-width: 1600px;
    margin: 0 auto;
}
.navbar{
    padding: 20px 120px;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    color: #000000;
    font-size: 16px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #000000;
}
.navbar button{
    border: none;
    background-color: #469165;
    border-radius: 4px;
    width: 165px;
    height: 45px;
    padding: 13px 16px;
    font-size: 16px;
    color: #FFFFFF;
}
.navbar button:hover{
    border: 1px solid #469165;
    background-color: #FFFFFF;
    color: #469165;
}
.header-div{
    background: url(./assets/hero-bg.png);
    padding: 115px 120px 180px 120px ;
    text-align: center;
    height: 674px;
}
.header-div h1{
   max-width: 770px;
   height: 168px;
   font-size: 72px;
   font-weight: bold; 
   margin: 0 auto;
   margin-bottom: 30px;
}
.header-div p{
    max-width: 1360px;
    height: 60px;
    font-size: 18px;
   color: #FFFFFF;
   margin-bottom: 10px;
}
.header-btn1{
    background-color: #FFFFFF;
    width: 200px;
    height: 30px;
    border-radius: 100px;
    border: none;
    padding: 8px 12px;
    color: #30B868;
    align-items: center;
    font-size: 11px;
    font-weight: bolder;
}
.header-btn1:hover{
    background: none;
    border: 1px solid;
}
.header-btn2{
    width: 250px;
    height: 52px;
    border-radius: 4px;
    background-color: #30B868;
    border: none;
    padding: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-top: 32px;
}
.header-btn2:hover{
    background: none;
    color: #FFFFFF;
    border: 1px solid;
}
.header-btn3{
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 198px;
    height: 52px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
    margin-top: 32px;
}
.header-btn3:hover{
    border: none;
    background-color:#30B868;
}

.section1{
    margin: 0 auto;
    max-width: 1600px;
    padding: 120px;
    text-align: center;
}
.section1 h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
.sec1-para{
   font-size: 16px;
   color: #627382; 
}
.sec1-cards{
    margin-top: 44px;
    gap: 24px;
}
.sec1-card{
    border-radius: 8px;
    padding: 70px 10px;
    width: 322px;
    height: 300px;
    box-shadow: 0.5px 0.5px 10px rgb(210, 206, 206);
}
.sec1-card img{
    background-color: #F95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 16px;
    margin-bottom: 15px;
}
.sec1-card h3{
    margin-bottom: 15px;
}
.sec1-card p{
    color: #627382;
}

.section2{
    max-width: 1360px;
    margin: 0 auto;
    gap: 60px;
    align-items: center;
}
.sec2-elements{
    max-width: 700px;
    height: 400px;
    text-align: left;
}
.sec2-elements h1{
   max-width: 600px;
   font-size: 48px;
   font-weight: bold;
   color: #001931;
   margin-bottom: 10px;
   margin-top: 10px;
}

.sec2-elements ul li{
    list-style: none;
    margin-top: 8px;
    color: green;
}
.sec2-para{
    max-width: 470px;
    margin-bottom: 20px;
    color: #627382;
}
.section3{
    margin: 50px auto;
    max-width: 1360px;
    height: 385px;
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 40px;
}
.section3 h1{
    font-size: 40px;
    font-weight: bold;
}
.sec3-para{
    max-width: 600px;
    margin: 30px auto;
}
.section3 p,.section3 ul li{
    color: #627382;
}

.section3 button{
     border: none;
    background-color: #469165;
    border-radius: 4px;
    width: 198px;
    height: 45px;
    padding: 13px 16px;
    font-size: 16px;
    color: #FFFFFF;
    align-items: center;
}
.section3 button:hover{
    border: 1px solid;
    color: #469165;
    background-color: #FFFFFF;
}
.challenge-part{
    display: flex; 
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
.challenge-part p{
   margin-right: 8px;
}

/* footer styles */

footer{
    margin: 0 auto;
    background-color: #001931;
    max-width: 1600px;
    padding: 120px 120px 20px 120px;
}
.footer-elements{
    align-items: center;
}
.footer-links,a{
    color: #FFFFFF;
}
.footer p{
    margin-top: 80px;
    text-align: center;
    border-top: 1px solid white;
    padding-top: 20px;
    color: #FFFFFF;
}
